# Set your own token and setup Github to post to /YOUR_TOKEN
github_token: 1234ABCD

# Your hudson server url
hudson_url: http://hudson.your-organization.com

# The base hudson job. The configuration will be copy from it
base_job: base_job_name

# Username and password for hudson. Uncomment if needed
# username: 
# password:
